.editor {
  position: relative;
  height: 100%;
}


.cm-vim-panel {
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  color: var(--link-color);
  transition: color 0.3s;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

code,
pre {
  background-color: var(--code-background);
}

blockquote {
  border-left: 2px solid var(--link-color);
  padding: 1rem;
  margin-bottom: 2rem;
}

hr {
  border: 0;
  background: var(--table-border);
}

ul,
ol {
  padding: 1rem;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th,
td {
  border: 1px solid var(--table-border);
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: var(--table-header-background);
  color: var(--table-header-color);
}

tr:nth-child(even) {
  background-color: var(--even-row-background);
}
